#Title {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background-color: goldenrod;
    color: black;
    padding: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-style: groove;
    border-color: maroon;
    border-width: 10px;
}

.Headings {
    margin-left: 100px;
    background-color: silver;
    color: maroon;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 15px;
    margin-right: 1200px;
    border: 10px solid goldenrod;
}

.sub-heading {
    margin-left: 120px;
    background-color: lightslategray;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-right: 1180px;
    border: 8px solid goldenrod;
}

.list {
    text-align: center;
    list-style-position: inside;
}

.image {
    display: block;
    margin: auto;
    border: 10px solid black;
}